Port 22
Protocol 2
X11Forwarding no
IgnoreRhosts yes
UseDNS yes
MaxAuthTries 3
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
AllowUsers root debian
PermitRootLogin prohibit-password
UsePAM yes
PrintMotd no
AcceptEnv LANG LC_*